.wp-block[data-align=full] {
	margin-left: -10px;
	margin-right: -10px;
	overflow: hidden;
}

.wp-block-group__inner-container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-image > .components-resizable-box__container {
	width: 100% !important;
}

.components-placeholder li:before {
	display: none;
}

.wp-block[data-align=center]>.wp-block-image {
	width: 100%;
}

#acf-group_6063e184677fd,
.acf-field-6062a2b78131f {
	display: none;
}

.lang-en #acf-group_6063e184677fd,
.lang-en .acf-field-6062a2b78131f {
	display: block;
}

.translations-block,
.translation-block {
	padding: 1em;
	border: 2px solid rgba(100,100,100,0.2);
}
