.wp-block[data-align=full] {
	margin-left: -10px;
	margin-right: -10px;
	overflow: hidden;
}

.wp-block-group__inner-container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-image > .components-resizable-box__container {
	width: 100% !important;
}

.components-placeholder li:before {
	display: none;
}

.wp-block[data-align=center]>.wp-block-image {
	width: 100%;
}

.acf-field-6062a2b78131f {
	display: none;
}

.lang-en .acf-field-6062a2b78131f {
	display: block;
}
