.has-shadow {
	box-shadow: var(--shadow);
}

.no-margin {
	margin: 0;
}

.display-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-items: center;
	justify-content: center;
}

.align-center {
	align-items: center;
	align-content: center;
}

.has-black-color {
	color: var(--wp--preset--color--black);
}

.has-black-background-color {
	background-color: var(--wp--preset--color--black);
}

.has-dark-color {
	color: var(--wp--preset--color--dark);
}

.has-dark-background-color {
	background-color: var(--wp--preset--color--dark);
}

.has-heading-color {
	color: var(--wp--preset--color--heading);
}

.has-heading-background-color {
	background-color: var(--wp--preset--color--heading);
}

.has-body-color {
	color: var(--wp--preset--color--body);
}

.has-body-background-color {
	background-color: var(--wp--preset--color--body);
}

.has-medium-color {
	color: var(--wp--preset--color--medium);
}

.has-medium-background-color {
	background-color: var(--wp--preset--color--medium);
}

.has-gray-color {
	color: var(--wp--preset--color--gray);
}

.has-gray-background-color {
	background-color: var(--wp--preset--color--gray);
}

.has-shadow-color {
	color: var(--wp--preset--color--shadow);
}

.has-shadow-background-color {
	background-color: var(--wp--preset--color--shadow);
}

.has-light-color {
	color: var(--wp--preset--color--light);
}

.has-light-background-color {
	background-color: var(--wp--preset--color--light);
}

.has-white-color {
	color: var(--wp--preset--color--white);
}

.has-white-background-color {
	background-color: var(--wp--preset--color--white);
}

.has-link-color {
	color: var(--wp--preset--color--link);
}

.has-link-background-color {
	background-color: var(--wp--preset--color--link);
}

.has-secondary-color {
	color: var(--wp--preset--color--secondary);
}

.has-secondary-background-color {
	background-color: var(--wp--preset--color--secondary);
}

.has-overlay-color {
	color: var(--wp--preset--color--overlay);
}

.has-overlay-background-color {
	background-color: var(--wp--preset--color--overlay);
}

.has-opaque-color {
	color: var(--wp--preset--color--opaque);
}

.has-opaque-background-color {
	background-color: var(--wp--preset--color--opaque);
}

.has-success-color {
	color: var(--wp--preset--color--success);
}

.has-success-background-color {
	background-color: var(--wp--preset--color--success);
}

.has-primary-gradient-background {
	background: linear-gradient(180deg, #da9857 0%, #a87039 100%);
}

.has-secondary-gradient-background {
	background: linear-gradient(180deg, #c7c7c7 0%, #aeaeae 100%);
}

.has-small-font-size {
	font-size: var(--wp--preset--font-size--small);
}

.has-normal-font-size {
	font-size: var(--wp--preset--font-size--normal);
}

.has-medium-font-size {
	font-size: var(--wp--preset--font-size--medium);
}

.has-large-font-size {
	font-size: var(--wp--preset--font-size--large);
}

.has-huge-font-size {
	font-sizevar(--wp--preset--font-size--)huge;;
}

.has-border-radius {
	border-radius: var(--border-radius);
}
